In [2]:
import pandas as pd
import pymysql

In [3]:
# mysql 연동
conn = pymysql.connect(host='127.0.0.1'
                , port=3306
                , user = 'root'
                , password='root1234'
                , db = 'movie_pj'
                , charset='utf8'
                )

In [5]:
ratings_sql = 'SELECT * FROM ratings'
ratings = pd.read_sql(ratings_sql, conn)
ratings.tail()

C:\Users\Playdata\AppData\Local\Temp\ipykernel_4788\820310891.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ratings = pd.read_sql(ratings_sql, conn)

        rating_id  user_id  movie_id  rating
100005     100006      943       285       1
100006     100007      943       287       1
100007     100008      943         0       4
100008     100009      943       299       4
100009     100010      943       120       5

In [6]:
ratings.to_csv('data/ratings_update.csv', index=False)

In [7]:
users_sql = 'SELECT * FROM users'
users = pd.read_sql(users_sql, conn)
users.tail()

C:\Users\Playdata\AppData\Local\Temp\ipykernel_4788\2754431558.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  users = pd.read_sql(users_sql, conn)

     user_id  age sex     occupation
939      939   32   M  administrator
940      940   20   M        student
941      941   48   F      librarian
942      942   22   M        student
943      943   25   M        heonter

In [8]:
users.to_csv('data/users_update.csv', index=False)