In [1]:
import pandas as pd
import pymysql

In [2]:
# mysql 연동
conn = pymysql.connect(host='127.0.0.1'
                , port=3306
                , user = 'root'
                , password='root1234'
                , db = 'movie_pj'
                , charset='utf8'
                )

In [7]:
ratings_sql = 'SELECT * FROM ratings'
ratings = pd.read_sql(ratings_sql, conn)
ratings.tail()

C:\Users\Playdata\AppData\Local\Temp\ipykernel_10256\820310891.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ratings = pd.read_sql(ratings_sql, conn)

        rating_id  user_id  movie_id  rating
100015     100016      944       285       4
100016     100017      944       287       4
100017     100018      944         0       4
100018     100019      944       299       4
100019     100020      944       120       4

In [8]:
ratings.to_csv('data/ratings_update2.csv', index=False)

In [9]:
users_sql = 'SELECT * FROM users'
users = pd.read_sql(users_sql, conn)
users.tail()

C:\Users\Playdata\AppData\Local\Temp\ipykernel_10256\2754431558.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  users = pd.read_sql(users_sql, conn)

     user_id  age sex      occupation
940      940   20   M         student
941      941   48   F       librarian
942      942   22   M         student
943      943   25   M         heonter
944      944   27   M  home protector

In [10]:
users.to_csv('data/users_update2.csv', index=False)